* {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.home-body{
  padding: 50px;
  color: steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  background-color: rgb(234, 244, 247);
}