.item-block{
    width: 300px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1.5px steelblue;
    margin: 10px;
    border-radius: 5px;
}

.poke-img{
    width: 250px;
}

.name{
    color:steelblue;
    font-weight: bold;
}