.search-body{
    background-color: rgb(234, 244, 247);
}
.search-side{
    padding: 20px;
    float: left;
    width: 200px;
    border-right: solid 1px lightblue;
    height: 800px;
}
.search-main{
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: auto;
}

button{
    margin: 10px 0px;
}